[ASSETS]
store_status=./assets/store status.csv
timezone=./assets/bq-results-20230125-202210-1674678181880.csv
open_hours=./assets/Menu hours.csv
dataset_directory=./assets/
checkpoint_output_parser=./calc/middle.csv

[FLASK]
secret_key=15829700a4b84f4cb99b6eb93a5aaf6b
request_ids=./request_ids.json
request_output=./calc/results/